body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, rgb(0, 0, 0), rgb(128, 128, 128));
    color: #333;
  }
  
  header {
    background-color:  rgb(51, 51, 51);
    color: white;
    text-align: center;
    padding: 10px;
    border: none;
  }
  header nav a {
    margin: 0 15px;
    text-decoration: none;
  }
  header nav a.current {
    background-color: rgba(211, 211, 211, 1);
    font-weight: bold;
  }
  
  footer {
    background-color: rgb(51, 51, 51);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  div.main-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      margin: auto;
      width: 50%;
      background: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }